#!/usr/bin/env bash

# Cleanup .DS_Store
ds_store-cleanup() {
  local dir="${1:-.}"
  if command -v fd >/dev/null; then
    fd -H -I '\.DS_Store' "${dir}" --exec rm
  else
    find "${dir}" -name '.DS_Store' -print -delete
  fi
}

